.App {
  background-color: #fff;
  min-height: 100vh;
}
.App-header {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-main {
  display: flex;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}
